//
//  Testing.xcconfig
//  EnvironmentDemo
//
//  Created by Rath! on 5/6/24.
//MARK: References cofiguration enviroment URL Link https://www.youtube.com/watch?v=1GAgBtlwKJ4

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
Root_URL = www.rath.testing.com
Api_Key = Api_Key_testing


//MARK: Google service
API_KEY = API_KEY
GCM_SENDER_ID = GCM_SENDER_ID
BUNDLE_ID = BUNDLE_ID
PROJECT_ID = PROJECT_ID
STORAGE_BUCKET = STORE_BUCKET
GOOGLE_AP_ID = GOOGLE_AP_ID
